{% extends 'base.html' %}


{%block content%}
<section class="page-section text-black mb-0" id="faq">
    <div class="container" style="flex-direction: column; align-items: center;">
        <!-- About Section Heading -->
        <div class="title-container">
            <h1 class="page-section-heading text-center text-uppercase text-black mb-0"">FAQ</h1>
        </div>
        <!-- faq Section Content -->
        <div class="py-5 px-5" style="width: 65vw; margin-top: 8rem;">
            <div class="accordion accordion-faq" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <strong>What is Laboratório da Mente? </strong> 
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                           <strong>Laboratório da Mente</strong> is a self-improvement platform designed to help individuals improve their mental well-being and unlock their full potential. We offer a range of resources, including articles, videos, and courses, created by experts.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <strong>How do I get started?  </strong> 
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            To get started, simply start navigating through the website.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <strong>Are the courses and resources free?</strong>
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Our courses are free . We believe that investing money with the great amount of information out there is expensive, and we are happy to provide you reliable information that is already free.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <strong>How do I know if a course or resource is right for me?</strong>
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            We offer a range of courses and resources on different topics, so there's something for everyone. If you're not sure where to start, we recommend browsing our content and reading reviews from other users. 
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <strong>How do I access my courses and resources?</strong>
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Once you've clicked a course or resource, you'll have access to it. 
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            <strong>Is my information secure on Laboratório da Mente?</strong>
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Yes. We take user privacy and security very seriously, and we use industry-standard security measures to protect your information. You can read more about our privacy policy and security practices on our website.
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>


{%endblock%}