{% extends 'base.html' %}

{% block content %}
  <section class="page-section d-flex text-black mb-0" id="about" style="overflow:hidden;padding: 2.5rem; min-height: 100%;">
    <div class="maincontainer" style="flex-direction: column;width: 100vw; align-items: center;">
      <!-- TITLE Section Heading -->
      <div class="title-container" style="margin-top:20px;  text-align: center; justify-content: center;">
        <h1 class="page-section-heading text-center text-uppercase text-black mb-0 center-heading" style="line-height: 3.5rem;font-family: montserrat;width: 40%; margin-left: auto; margin-right: auto; ">What Is Hypertrophy Training? Hypertrophy VS. Strength Training | Masterclass </h1>
      </div>
      <!-- VIDEO SECTION -->
      <div style="padding-top: 2rem;display: flex; justify-content: center;">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/1KJOQkj1r5Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <!-- Description section -->
      <div class="title-container" style="margin-top: 5rem ; text-align: left; justify-content: left;">
        <h2 style="font-family: montserrat;width: 40%; margin-left: auto; margin-right: auto; ">Description</h2>
      </div>
      <div class="row" style="justify-content: center; margin-top: 2rem; margin-bottom: 5rem; padding-top: 0px;">
        <p class="lead text-black" style="width: 40%; text-align: left;font-family: montserrat;">
            Ever wondered what the difference between hypertrophy training and strength training is? Chris Broomhead, expert personal trainer is here to explain all.

            <br>Hypertrophy vs. Strength training — what's the difference? And which is the best for building muscle? Bodybuilder and personal trainer, Chris Broomhead, is here to talk you through each training style, the benefits of both, and what goals they are best suited for so that you can make informed decisions for your own fitness journey. 
        </p>
      </div>
      <div class="title-container" style="margin-top: 5rem ; text-align: left; justify-content: left;">
        <h2 style="font-family: montserrat;width: 40%; margin-left: auto; margin-right: auto; ">Articles</h2>
      </div>
      <div class="row" style="justify-content: center; margin-top: 2rem; margin-bottom: 5rem; padding-top: 0px;">
        <p class="lead text-black" style="width: 40%; text-align: left;font-family: montserrat;">
            <span style="font-weight: bold;">.NONE</span>
        </p>
        
      </div>
    </div>
  </section>
{% endblock %}