{% extends 'base.html' %}

{% block content %}
  <section class="page-section d-flex text-black mb-0" id="about" style="overflow:hidden;padding: 2.5rem; min-height: 100%;">
    <div class="maincontainer" style="flex-direction: column;width: 100vw; align-items: center;">
      <!-- TITLE Section Heading -->
      <div class="title-container" style="margin-top:20px;  text-align: center; justify-content: center;">
        <h1 class="page-section-heading text-center text-uppercase text-black mb-0 center-heading" style="font-family: montserrat;width: 40%; margin-left: auto; margin-right: auto;line-height: 3.5rem; ">Dr Layne Norton: The Science of Eating for Health, Fat Loss & Lean Muscle | Huberman Lab Podcast</h1>
      </div>
      <!-- VIDEO SECTION -->
      <div style="padding-top: 2rem;display: flex; justify-content: center;">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/K4Ze-Sp6aUE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <!-- Description section -->
      <div class="title-container" style="margin-top: 5rem ; text-align: left; justify-content: left;">
        <h2 style="font-family: montserrat;width: 40%; margin-left: auto; margin-right: auto; ">Description</h2>
      </div>
      <div class="row" style="justify-content: center; margin-top: 2rem; margin-bottom: 5rem; padding-top: 0px;">
        <p class="lead text-black" style="width: 40%; text-align: left;font-family: montserrat;">
            Dr. Huberman and Layne Norton, Ph.D. — one of the world’s foremost experts in nutrition, protein metabolism, muscle gain and fat loss, discuss the science of energy utilization and balance, the efficacy of different diets (e.g., ketogenic, vegan, vegetarian, carnivore, omnivore), and how best to build lean muscle mass and lose fat. We also discuss optimal protein and fiber intake, the best sources of protein, the correlation between appetite, satiety signals and exercise, along with male and female-specific needs. Dr. Norton also explains how to support a healthy gut microbiome and offers insight into sugar and artificial sweeteners, processed, cooked, and raw foods, supplements, seed oils, and the relationship of LDL/HDL levels to cardiovascular health. This episode serves as a master class in nutrition, metabolism and exercise and is sure to benefit people of all ages and with different health and fitness goals.
        </p>
      </div>
      <div class="title-container" style="margin-top: 5rem ; text-align: left; justify-content: left;">
        <h2 style="font-family: montserrat;width: 40%; margin-left: auto; margin-right: auto; ">Articles</h2>
      </div>
      <div class="row" style="justify-content: center; margin-top: 2rem; margin-bottom: 5rem; padding-top: 0px;">
        <ul style="width: 40%;font-size: 1.2rem; ">
            <li><a href="https://www.cell.com/iscience/fulltext/S2589-0042(22)01141-5?_returnURL=https://linkinghub.elsevier.com/retrieve/pii/S2589004222011415%3Fshowall%3Dtrue" target="_blank" rel="noreferrer noopener">A potent physiological method to magnify and sustain soleus oxidative metabolism improves glucose and lipid regulation</a></li>
            <li><a href="https://www.science.org/doi/10.1126/science.283.5399.212?url_ver=Z39.88-2003&amp;rfr_id=ori:rid:crossref.org&amp;rfr_dat=cr_pub%20%200pubmed" target="_blank" rel="noreferrer noopener">Role of Nonexercise Activity Thermogenesis in Resistance to Fat Gain in Humans</a></li>
            <li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC155510/" target="_blank" rel="noreferrer noopener">Creatine Supplementation Increases Total Body Water Without Altering Fluid Distribution</a></li>
            <li><a href="https://journals.physiology.org/doi/full/10.1152/ajpregu.00755.2010" target="_blank" rel="noreferrer noopener">Biology’s response to dieting: the impetus for weight regain</a></li>
        </ul>
        
      </div>
    </div>
  </section>
{% endblock %}